xcode/build/GPUDSP.build/Debug/GPUDSP.build/GPUDSP-project-headers.hmap
xcode/build/GPUDSP.build/Debug/GPUDSP.build/GPUDSP.hmap
xcode/build/GPUDSP.build/Debug/GPUDSP.build/Objects-normal/x86_64/AnotherSandboxProjectApp.d
xcode/build/GPUDSP.build/Debug/GPUDSP.build/Objects-normal/x86_64/GPUDSP.LinkFileList
xcode/build/GPUDSP.build/Release/GPUDSP.build/dgph
xcode/build/GPUDSP.build/Release/GPUDSP.build/GPUDSP-project-headers.hmap
xcode/build/GPUDSP.build/Release/GPUDSP.build/GPUDSP.hmap
xcode/build/GPUDSP.build/Release/GPUDSP.build/Objects-normal/x86_64/AnotherSandboxProjectApp.d
xcode/build/GPUDSP.build/Release/GPUDSP.build/Objects-normal/x86_64/GPUDSP.LinkFileList
xcode/build/Release/GPUDSP.app/Contents/Info.plist
xcode/GPUDSP.xcodeproj/xcuserdata/Astronaut.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
xcode/build/GPUDSP.build/Debug/GPUDSP.build/dgph
xcode/build/GPUDSP.build/Debug/GPUDSP.build/Objects-normal/x86_64/AnotherSandboxProjectApp.dia
xcode/build/GPUDSP.build/Debug/GPUDSP.build/Objects-normal/x86_64/AnotherSandboxProjectApp.o
xcode/build/GPUDSP.build/Debug/GPUDSP.build/Objects-normal/x86_64/GPUDSP_dependency_info.dat
xcode/build/GPUDSP.build/Release/GPUDSP.build/Objects-normal/x86_64/AnotherSandboxProjectApp.dia
xcode/build/GPUDSP.build/Release/GPUDSP.build/Objects-normal/x86_64/AnotherSandboxProjectApp.o
xcode/build/GPUDSP.build/Release/GPUDSP.build/Objects-normal/x86_64/GPUDSP_dependency_info.dat
